{% load bot_filters %}
<h3>{{ bot }} <a href=""><img src="{{ MEDIA_URL }}image/info.gif" alt="" /></a></h3>
<b>[<span id="current_hp">{{ bot.feature.hp|current_hp }}</span>/{{ bot.feature.hp|max_hp }}]</b> <img src="{{ MEDIA_URL }}image/hp.gif" id="hp" alt="" width="{{ bot.feature.hp|line_hp:'250' }}" height="6" title="" />
{% include "bot/__body.html" %}

<b>Parametrs</b><br />
Strength: {{ bot.feature.strength }}<br />
Dexterity: {{ bot.feature.dexterity }}<br />
Intuition: {{ bot.feature.intuition }} <br />
Health: {{ bot.feature.health }}<br /><br />

<b>Modifiers</b><br />
Accuracy: {{ bot.feature.accuracy }}%<br />
Dodge: {{ bot.feature.dodge }}%<br />
Devastate: {{ bot.feature.devastate }}%<br />
Durability: {{ bot.feature.durability }}%<br />
Block break: {{ bot.feature.block_break }}%<br />
Armor break: {{ bot.feature.armor_break }}%<br /><br />

Min damage: {{ bot.feature.damage_min }}<br />
Max damage: {{ bot.feature.damage_max }}<br /><br />

<b>Protection</b><br />
Protection head: {{ bot.feature.protection_head }}%<br />
Protection breast: {{ bot.feature.protection_breast }}%<br />
Protection zone: {{ bot.feature.protection_zone }}%<br />
Protection leg: {{ bot.feature.protection_legs }}%<br />