{% extends "base_game.html" %}
{% block title %}{{ hero }}{% endblock %}
{% block content %}
{% include "combat/__menu.html" %}

{% load combat_tags %}
{% load combat_filters %}
<div align="center">
	{% if is_cancel %}
		<a href="{% url combat_cancel %}">Cancel</a>
	{% endif %}
	<a href="{% url combat_current %}">Update</a>
</div>

{% for combat in combats %}
	<div>
		Type: {{ combat.type|get_string_type }} 
		{{ combat.start_date_time|date:"H:i:s" }}
		[ {{combat.one_team_count }} ({{ combat.one_team_lvl_min }}-{{ combat.one_team_lvl_max }}) to {{combat.two_team_count }} ({{ combat.two_team_lvl_min }}-{{ combat.two_team_lvl_max }}) ]
		{% get_team combat.combatwarrior_set 0 as one_team_warriors %}
		{% get_team combat.combatwarrior_set 1 as two_team_warriors %}
		{% for team_warrior in one_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}image/info.gif" alt="" /></a>
		{% endfor %}
		vs		
		{% for team_warrior in two_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}image/info.gif" alt="" /></a>
		{% endfor %}
		(With things: {{ combat.with_things }} | Time out: {{combat.time_out }} sec. | Injury: {{ combat.injury|get_string_injury }})
	</div>
{% endfor %}
{% endblock %}