{% extends "base_game.html" %}
{% block title %}{{ hero }}{% endblock %}

{% block content %}
{% include "combat/__menu.html" %}
{% load combat_tags %}
{% load combat_filters %}
<div align="center">
	<form action="" method="post">
		{% csrf_token %}
		{{ form.login.label_tag }} {{ form.login }}&nbsp;&nbsp;
		{{ form.date_begin.label_tag }} {{ form.date_begin }}&nbsp;&nbsp;
		{{ form.date_end.label_tag }} {{ form.date_end }}&nbsp;&nbsp;
		<input type="submit" class="sexybutton sexysimple" value="Apply" />
	</form>
	{% if is_cancel %}
		<a href="{% url combat_cancel %}">Cancel</a>
	{% endif %}
</div>
{% for combat in combats %}
	<div>
		{{ combat.start_date_time|date:"Y-m-d H:i" }}
		Type: {{ combat.type|get_string_type }} 
		{% get_team combat.combatwarrior_set 0 as one_team_warriors %}
		{% get_team combat.combatwarrior_set 1 as two_team_warriors %}
		{% for team_warrior in one_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}images/info.gif" alt="" /></a>
		{% endfor %}
		{{ combat.win_team|is_win:0 }}
		vs
		{{ combat.win_team|is_win:1 }}
		{% for team_warrior in two_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}images/info.gif" alt="" /></a>
		{% endfor %}
		(With things: {{ combat.with_things }} | Injury: {{ combat.injury|get_string_injury }})	
	</div>
{% endfor %}
{% endblock %}