{% extends "base_game.html" %}
{% block title %}{{ hero }}{% endblock %}

{% block content %}
{% include "combat/__menu.html" %}
{% load combat_tags %}
{% load combat_filters %}
<div align="center">
	{% if is_cancel %}
		<a href="{% url combat_cancel %}">Cancel</a>
	{% endif %}
	<a href="{% url combat_territorial %}">Update</a>
</div>

{% for combat in combats %}
	<div>
		{% get_team_accept combat hero 0 as one_team_enter %}
		{% get_team_accept combat hero 1 as two_team_enter %}
		
		{% get_team combat.combatwarrior_set 0 as one_team_warriors %}
		{% get_team combat.combatwarrior_set 1 as two_team_warriors %}
		
		{{ combat.start_date_time|date:"H:i:s" }}
		
		{% if not in_combat and one_team_enter %}<a href="{% url combat_enter combat.id 0 %}">Enter</a>{% endif %}
		{% for team_warrior in one_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}images/info.gif" alt="" /></a>
		{% endfor %}
		vs
		{% if not in_combat and two_team_enter %}<a href="{% url combat_enter combat.id 1 %}">Enter</a>{% endif %}		
		{% for team_warrior in two_team_warriors %}
			{{ team_warrior }} <a href=""><img src="{{ MEDIA_URL }}images/info.gif" alt="" /></a>
		{% endfor %}
		(With things: {{ combat.with_things }} | Time out: {{combat.time_out }} sec. | Injury: {{ combat.injury|get_string_injury }})
	</div>
{% endfor %}
{% endblock %}