{% extends "base_main.html" %}
{% block title %}Main{% endblock %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<p>
		{{ form.login.label_tag }} <br />
		{{ form.login }}
		
		{% if form.login.errors %}
	    	{% for error in form.login.errors %}
	        	<span class="error_field">{{ error|escape }}</span>
	    	{% endfor %}
	    {% endif %}
	
	</p>
	<p>
		{{ form.password.label_tag }} <br />
		{{ form.password }}
		
		{% if form.password.errors %}
	    	{% for error in form.password.errors %}
	        	<span class="error_field">{{ error|escape }}</span>
	    	{% endfor %}
	    {% endif %}
	</p>
	<input type="submit" class="sexybutton sexysimple" value="Log in" />
</form>
<a href="/registration/">Registration</a>
<br /><br />
{% endblock %}
