<b>Sell</b><br />
<a href="{% url buyingup_view building.slug 'sword' %}">Swords</a><br />
<a href="{% url buyingup_view building.slug 'axe' %}">Axes</a><br />
<a href="{% url buyingup_view building.slug 'knive' %}">Knives</a><br />
<a href="{% url buyingup_view building.slug 'clubs' %}">Clubs</a><br />
<a href="{% url buyingup_view building.slug 'shield' %}">Shields</a><br />
<a href="{% url buyingup_view building.slug 'helmet' %}">Helmet</a><br />
<a href="{% url buyingup_view building.slug 'kolchuga' %}">Kolchugas</a><br />
<a href="{% url buyingup_view building.slug 'armor' %}">Armors</a><br />
<a href="{% url buyingup_view building.slug 'belt' %}">Belts</a><br />
<a href="{% url buyingup_view building.slug 'pants' %}">Pants</a><br />
<a href="{% url buyingup_view building.slug 'treetop' %}">Treetops</a><br />
<a href="{% url buyingup_view building.slug 'glove' %}">Gloves</a><br />
<a href="{% url buyingup_view building.slug 'boot' %}">Boots</a><br />
<a href="{% url buyingup_view building.slug 'ring' %}">Rings</a><br />
<a href="{% url buyingup_view building.slug 'amulet' %}">Amulets</a>