<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	    <meta name="keywords" content="game">
	    <meta name="description" content="game">
	    <meta http-equiv="content-language" content="en">
	
	    <meta name="author" content="ButuzGOL">
	    <link rel="shortcut icon" type="image/x-icon" href=""/>
		<title>Game | {% block title %}{% endblock %}</title>
		{% block js %}{% endblock %}
		{% block css %}
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print">
	    <!--[if lt IE 8]>
			<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]-->
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/sexybuttons/sexybuttons.css" type="text/css" />
		
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
		{% endblock %}
  	</head>
  	<body>
	  	<div class="container">
	      	<a href="{% url main %}"><h1>Game</h1></a>
	      	<hr>
		  	{% if messages %}
		    	<ul class="notice">
		      		{% for message in messages %}
		        		<li>{{ message }}</li>
		      		{% endfor %}
		    	</ul>
		  	{% endif %}
		  	{% block content %}{% endblock %}
		  	<hr>
		  	<p>
	        	Copyright by ButuzGOL
	      	</p>
	    </div>
  	</body>
</html>
